<?xml version="1.0" ?>
<launch>
  <arg name="gui" default="false" />
  <arg name="gazebo_gui" default="false" />
  <arg name="world_path" default = "$(find task_on_nav_robot_server)/worlds" />
  <arg name="world_name" default="empty_world.world"/>
  <arg name="world" value ="$(arg world_path)/$(arg world_name)"/>
  <arg name="server_port" default="50051"/>
  
  <arg name="gazebo_uri" default="$(env GAZEBO_MASTER_URI)" />

  <arg name="robot_x"   default="0.0" />
  <arg name="robot_y"   default="0.0" />
  <arg name="robot_yaw" default="0.0" />
  
  <arg name="action_time" default="3" />
  <arg name="wait_moved" default="false" />
  <arg name="map_size" default="512" />
  <arg name="agent_size" default="0.8" />
  <arg name="wall_threshold" default="0.02" />
  
  <rosparam param="gazebo_uri" subst_value="True">$(arg gazebo_uri)</rosparam>

  <!-- spawn robot and bring up controllers etc. -->
  <include file="$(find mir_gazebo)/launch/mir_empty_world.launch">
    <arg name="gui" value="$(arg gazebo_gui)" />
    <arg name="teleop" value="false"/>
  </include>
  
  <!-- Launch slam node -->
  <include file="$(find mir_navigation)/launch/hector_mapping.launch.xml">
    <arg name="map_size" value="$(arg map_size)" />
  </include>
  
  <!-- Launch move_base -->
  <include file="$(find mir_navigation)/launch/move_base.xml">
    <arg name="with_virtual_walls" value="false" />
  </include>

  <!-- Launch robot_pose publisher -->
  <node name="robot_pose_publisher" pkg="task_on_nav_robot_server" type="robot_pose_publisher.py" respawn="false" output="screen" >
  </node>

  <!-- Launch RViz -->
  <node if="$(arg gui)" name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
  args="-d $(find mir_navigation)/rviz/navigation.rviz" output="screen">
  </node>

  <!--Launch gRPC server -->
  <node name="robot_server" pkg="task_on_nav_robot_server" type="robot_server.py" respawn="false" output="screen" >
    <param name="server_port" value="$(arg server_port)"></param>
    <param name="real_robot" value="false"></param>
    <param name="slam_map_size" value="$(arg map_size)"></param>
    <param name="action_time" value="$(arg action_time)"></param>
    <param name="wait_moved" value="$(arg wait_moved)"></param>
    <param name="agent_size" value="$(arg agent_size)"></param>
    <param name="wall_threshold" value="$(arg wall_threshold)"></param>
  </node>

</launch>